body, html {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.one {
    display: flex;
    gap: 50px;
    border: 2px solid red;
}

.image1 {
    width: 100%;       
    height: 300px;     
    background-color: aliceblue;
    padding: 0;
    margin-bottom: 50px;
}

.wall
{
    flex: 1 1 10%;
}

.container
{
    flex: 1 1 80%;
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    align-items: center;
}

.header
{
    width: 100%;
    display: flex;
    gap: 10px;
    background-color: #7dd8f4;
    align-items: center;
    padding: 22px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

a
{
    text-decoration: none;
}

.link
{
    color: white;
    font-size: large;
    font-weight: 550;
}

.parent
{
    display: flex;
}

.two
{
    display: flex;
    gap: 50px;
    border: 2px solid red;
    background-color: #1F2937;
}

.three
{
    
}

.four
{
    
}

.quote
{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: antiquewhite;
    padding-bottom: 120px;
    padding-top: 120px;
    box-sizing: border-box;
    font-size: x-large;
    font-weight: 800;
    border: 2px solid red;
    color: #1F2937;
}

.paragraph
{
    border: 2px solid red;
    margin: 20px;
}

.container1
{
    flex: 1 1 80%;
    display: flex;
    justify-content: space-around;
    border: 2px solid red;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.container2
{
    flex: 1 1 80%;
    display: flex;
    border: 2px solid red;
    align-items: center;
}


.footernote
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
    border: 2px solid red;
}

.footernote .link
{
    color: white;
    font-size: larger;
    font-weight: 600;
}

.footernote p
{
    font-size: 15px;
}