body, html {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.one {
    display: flex;
    gap: 50px;
    border: 2px solid red;
}

.image1 {
    
    flex: 1 1 80%;      
    margin-bottom: -7px;
   
    padding: 0;
    border: 2px solid red;
}

.wall
{
    flex: 1 1 10%;
}

.container
{
    flex: 1 1 80%;
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    align-items: center;
}

.header
{
    width: 100%;
    display: flex;
    gap: 15px;
    background-color: #87ceeb;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

a
{
    text-decoration: none;
    color: white;
}

.link
{
    color: white;
    font-size: large;
    font-weight: 550;
}

.parent
{
    display: flex;
}

.quote
{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: antiquewhite;
    padding-bottom: 120px;
    padding-top: 120px;
    box-sizing: border-box;
    font-size: x-large;
    font-weight: 800;
    border: 2px solid red;
    color: #1F2937;
    flex: 1 1 80%;
}

.paragraph
{
    border: 2px solid red;
    margin: 20px;
}

.container1
{
    flex: 1 1 80%;
    display: flex;
    justify-content: space-around;
    border: 2px solid red;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.container2
{
    flex: 1 1 80%;
    display: flex;
    border: 2px solid red;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.contact
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
    background-color: #3882F6;
    border: 2px solid red;
    border-radius: 10px;
    color: white;
    flex-wrap: wrap;
    gap: 50px;
}

.contact button
{
    color: white;
  background-color: #3882F6;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
}


.footernote
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 40px;
    border: 2px solid red;
    flex: 1 1 80%;
    box-sizing: border-box;
}

.footernote .link
{
    color: white;
    font-size: larger;
    font-weight: 600;
}

.footernote p
{
    font-size: 15px;
}

.drop
{
    width: 600px;
    height:75px;
    border: 2px solid red;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 20px;
}

.box
{
    width: 600px;
    height: 150px;
    border: 2px solid red;
    box-sizing: border-box;
}