body, html {
    display: flex;
    flex-direction: column;
    
    margin: 0;
    padding: 0;
     /* Ensure the body and html elements take full height */
}

.one {
    display: flex;
 
    gap: 50px;
    border: 2px solid red;
 
}

.image1 {
    width: 100%;        /* Make the image responsive */
    /* Maximum width of 1000px */
    height: 300px;      /* Fixed height */
    background-color: aliceblue;
    padding: 0;
    margin-bottom: 50px;
}

.wall
{
    flex: 1 1 10%;
}

.container
{
    flex: 1 1 80%;
    display: flex;
    flex-direction: column;
 
    border: 2px solid red;
    align-items: center;
}

.header
{
    width: 100%;
    display: flex;
    gap: 10px;
    background-color: #836539;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

a
{
    text-decoration: none;
}

.link
{
    color: white;
    font-size: large;
    font-weight: 550;
}

.parent
{
    display: flex;
}

.two
{
    
}

.three
{
    
}

.four
{
    
}

.footernote
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
}

.footernote .link
{
    color: white;
    font-size: larger;
    font-weight: 600;
}

.footernote p
{
    font-size: 15px;
}